<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36884012671-1ntorh35nn1n7tqkqu6r4iq8ov7707c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36884012671-1ntorh35nn1n7tqkqu6r4iq8ov7707c0</string>
	<key>API_KEY</key>
	<string>AIzaSyATzmB46JuoO6X2gGly40hT3vx23l77Bq8</string>
	<key>GCM_SENDER_ID</key>
	<string>36884012671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindCheck</string>
	<key>PROJECT_ID</key>
	<string>mind-check-8a21f</string>
	<key>STORAGE_BUCKET</key>
	<string>mind-check-8a21f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36884012671:ios:b02d981bdc214b394d294a</string>
</dict>
</plist>